```{=html}
<div class="list grid" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 450px)); gap: 20px;">

  <% for (const item of items) { %>
    <div class="custom-grid-card border-2 rounded-3" <%= metadataAttrs(item) %>>
          <div class="main-card-content">
            <% if(item['image']) { %>
              <a href="<%- item.link %>" target="_blank">
                <img class="card-img" src="<%- item.image %>" alt="<%- item.title %>" class="card-img-top"/>
              </a>
              <% } %>

              <div class="news listing-title">
                <h5 class="no-anchor card-title listing-title"><%= item['title'] %></h5>
            </div>

            <% if (item['description']) { %>
              <p class="listing-abstract"><%= item['description'] %></p>

                <% } %>

              </div>


                <div class="project-details-listing">
                  <button class="project-link-listing-button"><a href="<%- item.path %>"><i class="fa fa-info-circle"></i> Read Article </a></button>
                </div>

              </div>

            <% } %>
          </div>

```
