```{=html}
<div class="list grid" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 350px)); gap: 20px;">

    <% for (const item of items) { %>
      <div class="card border-2 rounded-3" <%= metadataAttrs(item) %>>            
            <% if(item['image']) { %>
            <a href="<%- item.path %>">
              <img src="<%- item.image %>" alt="<%- item.title %>" class="card-img-top"/>
            </a>
            <% } %>
            
            <div class="project-content listing-pub-info">
                <h5 class="no-anchor card-title listing-title"><%= item['title'] %></h5>
            </div>

            <% if (item['pub-info']) { %>
            <% if(item['pub-info'].abstract) { %>
              <p class="listing-abstract"><%= item['pub-info'].abstract %></p>
              <% } %>
              <% } %>

            <% if(item.categories) { %>
            <div class="quarto-categories">
                <% for (const cat of item.categories) { %>
                            <button class="category-button"><%= cat %></button>
                    <% } %>
            </div>
            <% } %>

            <div class="project-details-listing">
                <!-- <ul class="project-links"> -->
                    <!-- <li class="project-link details">
                        <a href="<%- item.path %>" class="listing-name">
                            <i class="fa-solid fa-circle-info"></i> Full details »
                        </a>
                    </li> -->
                    <% if (item['pub-info']) { %>
                      <% if (item['pub-info'].links) { %>
                          <% for (const link of item['pub-info'].links) { %>
                      <!-- <li class="project-link">
                          <a href="<%- link.url %>">
                              <i class="<%- link.icon %>"></i> <%= link.name %>
                          </a>
                      </li> -->
                      <button class="project-link-listing-button"><a href="<%- link.url %>"><i class="<%- link.icon %>"></i> <%= link.name %> </a></button>
                          <% } %>
                        <% } %>
                    <% } %>
                <!-- </ul> -->
            </div>
          </div>
        <% } %>
</div>
```
